
.logo{
    background-color: red;
    width:30px;
    height:30px;
}

#nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}


profile-dropdown{
    display:flex;
} 
